<nav class="navbar">
    <script type="module" src="/src/components/navigation/main.ts"></script>
    <a href="#" class="logo">
        <img src="/podrys/logo.svg" alt="Studio Podrys" class="logo-image">
    </a>

    <div class="nav-menu">
        <ul class="nav-links">
            <li><a href="#" class="link-proces">proces</a></li>
            <li><a href="#" class="link-realizacje">realizacje</a></li>
            <li><a href="#" class="link-kontakt">kontakt</a></li>
        </ul>

        <div class="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</nav>