<script type="module" src="/src/components/navigation/main.ts"></script>
<nav class="navbar">
    <a href="/podrys/" class="logo">
        <img src="/podrys/logo.svg" alt="Studio Podrys" class="logo-image">
    </a>

    <div class="nav-menu">
        <ul class="nav-links">
            <li><a href="/podrys/proces">proces</a></li>
            <li><a href="/podrys/realizacje">realizacje</a></li>
            <li><a href="/podrys/contact">kontakt</a></li>
        </ul>
        <button class="hamburger-menu" aria-label="Otwórz menu" aria-expanded="false">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
</nav>