<script type="module" src="/src/components/footer/main.ts"></script>
<footer class="footer">
    <img src="/podrys/rvs.svg" class="footer__decoration footer__decoration--left" alt="" role="presentation"
         aria-hidden="true"/>
    <img src="/podrys/pod.svg" class="footer__decoration footer__decoration--right" alt="" role="presentation"
         aria-hidden="true"/>


    <div class="footer-left">
        <div class="footer-element">STUDIO PODRYS</div>
        <div class="footer-element">MAGDALENA ŚWIERCZYŃSKA</div>
        <a class="footer-element" href="tel:+48607678249">607-678-249</a>
        <a class="footer-element" href="mailto:studio@podrys.pl">studio@podrys.pl</a>
        <div class="footer-element footer-nip">NIP 784-242-12-14</div>
    </div>

    <div class="footer__right">
        <p class="footer__find">znajdź mnie:</p>
        <div class="footer__socials">
            <a href="#" class="footer__circle" aria-label="Social 1"></a>
            <a href="#" class="footer__circle" aria-label="Social 2"></a>
        </div>
    </div>
</footer>