@use '../../styles/variables';
@use '../../styles/mixins';

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  background-color: variables.$color-primary-orange;
  color: variables.$color-primary-white;
  padding: 40px;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.footer-left {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  font-size: 1.2rem;

  .footer-element {
    font-weight: variables.$font-weight-bold;
    padding: 1vh 0 0 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .footer-nip {
    font-size: 0.7em;
    font-weight: variables.$font-weight-bold;
    padding: 8vh 0 0 0;
  }
}

.footer__right {
  text-align: center;

  .footer__find {
    font-weight: bold;
    margin-bottom: 1em;
  }

  .footer__socials {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .footer__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
  }
}

.footer__decoration {
  position: absolute;
  pointer-events: none;
  user-select: none;
  z-index: 0;
  opacity: 1;
  height: auto;
  max-width: 45vw;
}

.footer__decoration--left {
  bottom: 0;
  left: 0;
}

.footer__decoration--right {
  top: 0;
  right: 0;
}