<script type="module" src="/src/components/footer/main.ts"></script>
<footer class="footer">
    <div class="footer-left">
        <div class="footer-links">
            <div class="footer-element">STUDIO PODRYS</div>
            <div class="footer-element">MAGDALENA ŚWIERCZYŃSKA</div>
            <a class="footer-element" href="tel:+48607678249">607-678-249</a>
            <a class="footer-element" href="mailto:studio@podrys.pl">studio@podrys.pl</a>
            <div class="footer-element footer-nip">NIP 784-242-12-14</div>
        </div>
        <img src="/podrys/rys.svg" class="footer-decoration footer-decoration-left"
             alt="Podrys"
             role="presentation"
             aria-hidden="true"/>
    </div>

    <div class="footer-right">
        <img src="/podrys/pod.svg" class="footer-decoration footer-decoration-right"
             alt="Podrys"
             role="presentation"
             aria-hidden="true"/>
        <div class="footer-right-text">
            <p class="footer-find">{{findMe}}:</p>
            <div class="footer-socials">
                <a href="https://www.instagram.com/studio.podrys" class="footer-circle" aria-label="Instagram">
                    <img src="/podrys/instagram.svg"
                         alt="Instagram"
                         role="presentation"
                         aria-hidden="true"/>
                </a>
                <a href="https://www.facebook.com/podrys.studio/" class="footer-circle" aria-label="Facebook">
                    <img src="/podrys/facebook.svg"
                         alt="Facebook"
                         role="presentation"
                         aria-hidden="true"/>
                </a>
            </div>
        </div>
    </div>
</footer>